body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 30px;
}
#camera , #snapshot
{
  border: 5px dotted #c0d3ff;
  width: 300px;
  height: 350px; 
}
#result_Gesture_name
{
  color: black;
}
.Gesture_name
{
  font-size: 40px;
}
.Gesture
{
  font-size:48px;
}
.heading{
  font-size: 30px;
  width: 50%;
  border-radius: 20px;
  letter-spacing: 10px;
}
label{
  font-size: 22px;
}